<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>
<form th:action="@{/auth/register}" method="post">
    <div>
        <label for="username">사용자 이름:</label>
        <input type="text" id="username" name="username" required/>
    </div>
    <div>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required/>
    </div>
    <div>
        <button type="submit">가입하기</button>
    </div>
</form>
<p><a th:href="@{/auth/login}">이미 계정이 있으신가요? 로그인</a></p>
</body>
</html>