<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">링코</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="headerNavbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/courses}">코스 탐색</a>
                    </li>
                </ul>

                <div class="d-flex">
                    <div sec:authorize="!isAuthenticated()">
                        <a th:href="@{/auth/login}" class="btn btn-outline-light me-2">로그인</a>
                        <a th:href="@{/auth/register}" class="btn btn-primary">회원가입</a>
                    </div>

                    <div sec:authorize="isAuthenticated()" class="d-flex align-items-center">
                        <a th:href="@{/courses/new}" class="btn btn-primary me-3">코스 만들기</a>

                        <div class="dropdown">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                                <span sec:authentication="principal.nickname">사용자</span>님
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end text-small shadow" aria-labelledby="dropdownUser">
                                <li><a class="dropdown-item" th:href="@{/profile/me}">내 프로필</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form th:action="@{/logout}" method="post" class="d-inline">
                                        <button type="submit" class="dropdown-item">로그아웃</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
</html>